# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
*.log

# SQLite
db.sqlite3

# Node modules (if using React for frontend)
mynotes/node_modules/

# Django collectstatic output
staticfiles/

# MySQL data (important!)
data/
